# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
develop-kit-php/docker-compose.yml
develop-kit-php/.env
develop-kit-gui-db/.env
develop-kit-databases/.env
